<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div class="pageHeader">
            <h1 th:text="${title}"></h1>
        </div>

        <form method="post" th:object="${item}">

            <table class="homepage">

                <tr>

                    <td><label for="name">Item:</label></td>
                    <td><input id="name" th:field="*{name}" /></td>

                </tr>

                <div class="errorsBlock">
                    <div class="errors" th:errors="*{name}"></div>
                    <div class="errors" th:errors="*{description}"></div>
                </div>

                <tr>

                    <td><label for="description">Description:</label></td>
                    <td><input id="description" th:field="*{description}" /></td>

                </tr>

            </table>

            <div class="submitNav">
                <input type="submit" value="Edit" />
                <a th:href="'/item/remove/' + *{id}"><input type="button" value="Remove" /></a>
                <a href="/user"><input type="button" value="Cancel" /></a>
            </div>

        </form>

    </body>
</html>