<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div class="pageHeader">
            <h1 th:text="${title}"></h1>
        </div>

        <nav>
            <a href="/user/logout"><input type="button" value="Logout" /></a> |
            <a href="/user/"><input type="button" value="iWants" /></a> |
            <a href="/user/friends"><input type="button" value="Following" /></a> |
            <a href="/user/friendOf"><input type="button" value="Followers" /></a>
        </nav>

        <div><br><br>
            <form method="post" enctype="multipart/form-data">
                <input name="pic" type="file" value="Upload Image" accept="image/jpeg" />
                <input type="submit" />
            </form>
        </div>

    </body>
</html>