<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <h1 th:text="${title}"></h1>

        <p th:text="'Welcome to your profile, ' + ${name} + '!'"></p>

        <div th:object="${user}">
            <table>
                <tr th:each="item : *{items}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.description}"></td>
                </tr>
            </table>
        </div>
        <a th:href="'add/' + ${user.name}">Add to friends list</a>


    </body>
</html>