<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <h1 th:text="${title}"></h1>

        <form action="search" method="post">
            <input type="text" name="search" />
            <input type="submit" value="search" />
        </form>

        <ul th:object="${user}">
            <div th:each="friend : *{friends}">
                <li><a th:href="'/user/' + ${friend.name}" th:text="${friend.name}"></a></li>
            </div>
        </ul>

    </body>
</html>