<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <h1 th:text="${title}"></h1>

        <div th:object="${user}">
            <table>
                <tr th:each="item : *{items}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:if="${item.purchased} == false">
                        <a th:href="'purchase/' + ${item.id}">
                            <input class="red" type="button" />
                        </a>
                    </td>
                    <td th:if="${item.purchased} == true">
                        <a th:href="'purchase/' + ${item.id}">
                            <input class="green" type="button" />
                        </a>
                    </td>
                </tr>
            </table>
        </div>

        <a th:href="'add/' + ${user.name}">Follow</a> |
        <a th:href="'remove/' + ${user.name}">Unfollow</a> |
        <a href="/user/">Profile</a>

    </body>
</html>