<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div class="pageHeader">
            <h1 th:text="${title}"></h1>
        </div>

        <nav>
            <a th:href="'add/' + ${user.name}"><input type="button" value="Follow" /></a> |
            <a th:href="'remove/' + ${user.name}"><input type="button" value="UnFollow" /></a> |
            <a href="/user/"><input type="button" value="Profile" /></a> |
            <a href="/user/friends"><input type="button" value="Following" /></a> |
            <a href="/user/friendOf"><input type="button" value="Followers" /></a>
        </nav>

        <div th:object="${user}">
            <table class="itemList">
                <div th:each="item : *{items}">
                    <tr class="itemListName">
                        <td th:text="${item.name}" class="itemNameFriends"></td>
                        <td th:if="${item.purchased} == false">
                            <a th:href="'purchase/' + ${item.id}">
                                <input class="red" type="button" value="Gift" />
                            </a>
                        </td>
                        <td th:if="${item.purchased} == true">
                            <a th:href="'purchase/' + ${item.id}">
                                <input class="green" type="button" value="Gifted" />
                            </a>
                        </td>
                    </tr>
                    <tr class="itemListDesc">
                        <td th:text="${item.description}"></td>
                    </tr>
                </div>
            </table>
        </div>

    </body>
</html>