<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div class="pageHeader">
            <h1 th:text="${title}"></h1>
        </div>

        <nav>
            <a href="/user/logout"><input type="button" value="Logout" /></a> |
            <a href="/item/add"><input type="button" value="Add Item" /></a> |
            <a href="/user/friends"><input type="button" value="Following" /></a>
        </nav>

        <div th:object="${user}">

            <table class="itemList">

                <div th:each="item : *{items}">

                    <tr class="itemListName">
                        <td>
                            <a th:href="'/item/edit/' + ${item.id}" th:text="${item.name}" class="itemName"></a>
                        </td>
                        <td th:if="${item.purchased} == false">
                            <input class="peekRed" type="button" value="Peek" />
                        </td>
                        <td th:if="${item.purchased} == true">
                            <input class="peekGreen" type="button" value="Peek" />
                        </td>
                    </tr>

                    <tr class="itemListDesc">
                        <td th:text="${item.description}"></td>
                    </tr>

                </div>

            </table>

        </div>

    </body>
</html>