<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <h1 th:text="${title}"></h1>

        <p th:text="'Welcome to your profile, ' + ${name} + '!'"></p>

        <div th:object="${user}">
            <table>
                <tr th:each="item : *{items}">
                    <td>
                        <a th:href="'/item/edit/' + ${item.id}" th:text="${item.name}" class="itemName"></a>
                    </td>
                    <td th:text="${item.description}"></td>
                </tr>
            </table>
        </div>

        <a href="/user/logout">Logout</a> |
        <a href="/item/add">Add Item</a>
    </body>
</html>