<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <h1 th:text="${title}"></h1>

        <div th:text="${error}"></div>

        <form method="post" th:object="${user}">

            <div><label th:for="*{name}">Username:
                <input th:field="*{name}" /></label></div>
            <div th:errors="*{name}"></div>

            <div><label th:for="*{email}">Email:
                <input type="email" th:field="*{email}" /></label></div>
            <div th:errors="*{email}"></div>

            <div><label th:for="*{password}">Password:
                <input type="password" th:field="*{password}" /></label></div>
            <div th:errors="*{password}"></div>

            <div><label for="verify">Verify-Password:
                <input id="verify" name="verify" type="password" /></label></div>
            <div th:text="${verify}"></div>

            <input type="submit" value="Register" />

        </form>

        <a href="/user/logout" th:text="Logout"></a>
    </body>
</html>