<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div class="pageHeader">
            <h1 th:text="${title}"></h1>
        </div>

        <nav>
            <form action="search" method="post">
                <input type="text" name="search" />
                <input type="submit" value="search" /> |
                <a href="/user/"><input type="button" value="iWants" /></a> |
                <a href="/user/friends"><input type="button" value="Following" /></a> |
                <a href="/user/friendOf"><input type="button" value="Followers" /></a>
            </form>
        </nav>

        <table class="itemList">
            <tr class="itemListFriends" th:each="user : ${userList}">
                <td><a th:href="'/user/' + ${user.name}" th:text="${user.name}"></a></td>
            </tr>
        </table>

    </body>
</html>