.pageHeader {
    background-color: #f6f6f6;
    background-image: url(../img/headBack.png);
    background-size: 200px;
    background-position: left;
    background-repeat: no-repeat;
    height: 115px;
    border: 1px solid black;
    width: calc(100vw - 20px);
}

.pageHeader h1 {
    position: relative;
    left: 185px;
    top: 5px;
    font-size: 10vmin;
    margin: 0;
}

nav {
    position: absolute;
    top: 130px;
}

.homepage, .registerTable, .itemList {
    display: block;
    background-color: #f6f6f6;
    text-align: center;
    margin: 20vh auto 10px auto;
    width: 95vw;
    max-width: 800px;
    min-height: 350px;
    border: 1px solid black;
}

.homepageChild {
    display: inline-block;
    position: relative;
    background-color: white;
    height: 50px;
    width: 30vmin;
    border: 1px solid black;
    margin: 135px 20px;
}

.homepageChild a {
    display: inline-block;
    position: relative;
    padding-top: 10px;
    height: 40px;
    width: 100%;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: black;
}

.homepage tr {
    display: inline-block;
    width: 80vmin;
    max-width: 500px;
    font-size: 25px;
    padding-top: 75px;
}

.registerTable tr {
    display: inline-block;
    width: 80vmin;
    max-width: 500px;
    font-size: 25px;
    padding-top: 25px;
}

.itemList tr {
    display: inline-block;
    width: 80vmin;
    max-width: 700px;
    font-size: 25px;
}

.itemListName {
    padding-top: 10px;
}

.itemListName input {
    font-size: 15px;
    width: 70px;
}

.itemListDesc {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    text-align: left;
}

.itemListFriends {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 30px;
}

.homepage td, .registerTable td {
    width: 100%;
}

.homepage input, .registerTable input {
    display: inline-block;
    width: 30vmin;
    height: 30px;
    font-size:25px;
    padding-left:2px;
}

table {
    border: 1px solid black;
}

td {
    padding: 5px;
}

.submitNav {
    margin: auto;
    width: 95%;
    text-align: center;
}

.submitNav input{
    display: inline-block;
    margin: auto 10px;
    height: 50px;
    width: 10%;
    min-width: 100px;
}

.itemName {
    font-weight: bold;
    color: black;
}

.itemName:hover {
    color: dimgrey;
}

.itemNameFriends {
    font-weight: bold;
}

.errorsBlock {
    position: absolute;
    left: calc(50% - 125px);
    top: 260px;
}

.errors {
    background-color: lightpink;
    color: darkred;
    width: 250px;
    font-size: 20px;
    border: 1px solid darkred;
    text-align: center;
}

.error {
    display: inline-block;
    border: 1px solid darkred;
    color: darkred;
    background-color: lightpink;
    padding: 5px;
    margin-bottom: 2px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.peekRed:active {
    background-color: red;
}

.peekGreen:active {
    background-color: green;
}

.profile_pic {
    border: 1px solid black;
    background-color: gainsboro;
    height: 300px;
    width: 300px;
}